<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595018983301-90nj93k69he9ihpb3u1fgdnp7me27uk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595018983301-90nj93k69he9ihpb3u1fgdnp7me27uk2</string>
	<key>API_KEY</key>
	<string>AIzaSyD5J-ELgtrDlKJYB4Cbwx5d5qtFQ30C27c</string>
	<key>GCM_SENDER_ID</key>
	<string>595018983301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iamwintrow.i-love-you-alina</string>
	<key>PROJECT_ID</key>
	<string>i-love-you-alina</string>
	<key>STORAGE_BUCKET</key>
	<string>i-love-you-alina.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595018983301:ios:29983d5783df5439e246ec</string>
</dict>
</plist>